<div class="create-material-page">
    <h1>Create New Material</h1>
    <form class="create-material-form" action="/api/create-material", method="post">
        <div class="form-group">
            <label for="name">Material Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter material name" required>
        </div>
            <div class="form-group">
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" placeholder="Enter quantity" required>
            </div>
            <button type="submit" class="create-button">Create Material</button>
    </form>
</div>