    <div class="create-material-container">
        <h2 class="create-material-title">Create Material</h2>
        <form action="/api/create-material" method="post">
        <div class="create-material-input-group">
            <label class="create-material-label" for="material-name">Name</label>
            <input type="text" id="material-name" name="name" class="create-material-input" placeholder="Enter material name" required>
        </div>
        <div class="create-material-input-group">
            <label class="create-material-label" for="material-quantity">Quantity</label>
            <input type="number" id="material-quantity" name="quantity" class="create-material-input" placeholder="Enter quantity" required>
        </div>
        <div class="create-material-button-group">
            <button type="submit" class="create-material-button">Create</button>
            <a href="/api/materials" class="create-material-cancel-button">Cancel</a>
        </div>
        </form>
    </div>