<div class="delete-product-container">
    <h2 class="delete-product-title">Are you sure you want to delete this product?</h2>
    <div class="delete-product-button-group">
        <form action="/api/product/{{product.id}}/delete" method="POST">
            <button type="submit" class="delete-product-yes-button">Yes</button>
        </form>
        <a href="/api/product/{{product.id}}/update" class="delete-product-no-button">No</a>
    </div>
</div>
