<div class="table-container">
    <h2>Materials</h2>
    <table>
        <thead>
            <tr>
                <th>Material Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {{#each material}}
            <tr>
                <td>{{name}}</td>
                <td>{{quantity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>