<div class="update-product-container">
    <h2 class="update-product-title">Update Product</h2>
    <form class="update-product-form" action="/api/product/{{product.id}}/update" method="post">
        <div class="update-product-item">
            <label for="product-name" class="update-product-label">Product Name:</label>
            <input type="text" id="product-name" name="name" class="update-product-input" value="{{product.name}}" required>
        </div>
        <div class="update-product-button-group">
            <button type="submit" class="update-product-save-button">Save</button>
        </div>
    </form>
    <div class="update-product-cancel-group">
        <a href="/api/products" class="update-product-cancel-button">Cancel</a>
    </div>
</div>
