<div class="password-change-container">
    <h2 class="password-change-title">Change Password</h2>

        <div class="password-change-info">
            <form action="/api/user/{{user.id}}/update-password" method="post">
            <div class="password-change-item">
                <label for="password" class="password-change-label">New Password</label>
                <input type="password" id="password" name="password" class="password-change-input" required>
            </div>
        </div>

        <div class="password-change-button-group">
                <button type="submit" class="password-change-update-button">Update</button>
            </form>
            <a href="/api/user/{{user.id}}/update" class="password-change-cancel-button">Cancel</a>
        </div>
    </div>