    <div class="one-user-container">
        <h2 class="one-user-title">User Details</h2>
        <div class="one-user-info">
            <div class="one-user-item">
                <span class="one-user-label">Name:</span>
                <span class="one-user-value">{{user.name}}</span>
            </div>
            <div class="one-user-item">
                <span class="one-user-label">Username:</span>
                <span class="one-user-value">{{user.username}}</span>
            </div>
        </div>
        <div class="one-user-button-group">
            <a href="/api/user/{{user.id}}/update" class="one-user-edit-button">Edit</a>
            <a href="/api/users" class="one-user-cancel-button">Cancel</a>
        </div>
    </div>