<div class="update-user-container">
    <h2 class="update-user-title">Update User</h2>
    <form class="update-user-form" action="/api/user/{{user.id}}/update" method="POST">
        <div class="update-user-info">
            <div class="update-user-item">
                <label for="name" class="update-user-label">Name:</label>
                <input type="text" id="name" name="name" required class="update-user-input" value="{{user.name}}">
            </div>
            <div class="update-user-item">
                <label for="username" class="update-user-label">Username:</label>
                <input type="text" id="username" name="username" required class="update-user-input" value="{{user.username}}">
            </div>
        </div>
        <div class="update-user-button-group">
            <button type="submit" class="update-user-save-button">Save</button>
            <a href="/api/user/{{user.id}}/update-password" class="update-password-button">Update Password</a>
        </div>
    </form>
    <div class="cancel-button-container">
        <a href="/api/users" class="update-user-cancel-button">Cancel</a>
    </div>
</div>
