<div id="user-page">
    <div class="user-page-main-container">
        <div class="user-page-container">
            <h1 class="user-title">User Information</h1>
            <div class="user-info-container">
                <h2 class="name">{{user.name}}</h2>
                <h2 class="username">{{user.username}}</h2>
            </div>
            <div class="user-actions">
                <a href="/api/user/{{user.id}}/update" class="edit-btn">Edit</a>
                <a href="/api/users" class="cancel-btn">Cancel</a>
            </div>
        </div>
    </div>
</div>
